*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    min-height: 2000px;
}

 
.navbar{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(70, 20, 20, o.8);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    font-style: italic;
}

.navbar .navbar-nav a {
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: rgb(151, 147, 147) ;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(151, 147, 147);
    transform: scaleX(0);
    transition: 0.2s linear;
    
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: black;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: rgb(151, 147, 147);
}

.product{
    margin-left: 4rem;
    margin-right: 4rem;
}

.product .heading{
    text-align: center;
    font-size: 3rem;
    padding-top: 4rem;
    font-weight: 100;
}

.product .atas {
    text-align: left;
    color: gray;
    margin-left: 2rem;
    padding-top: 3rem;
}
.product .parag{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 3rem;
}

.product .box-container .box{
    flex: 1 1 20rem;
    box-shadow: 1rem black;
    position: relative;
    
}

.product .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2%;
    overflow: hidden;
}

.product .box-container .box .image img{
    width: 100%;
}

.product .box-container .box:hover .image img{
    transform: scale(1.1);
}

.product .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.product .box-container .box:hover .image .icons{
    bottom: 0;
}

.product .box-container .box .image .icons a{
    padding-top: 0.5rem;
    height: 2rem;
    line-height: 3rem;
    font-size: 2rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    
}

.product .box-container .box .content{
    padding: 1rem;
    text-align: center;
}

.product .box-container .box .content h3{
    font-size: 1rem;
}

.product .box-container .box .content .price{
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 1rem;
}

footer{
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .social{
    padding: 1rem 0;
    
}
